<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Radix Sort</title>

        <!-- Bootstrap Core CSS -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="static/css/agency.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="static/font-awesome/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.static/js/1.4.2/respond.min.js"></script>
            <![endif]-->

    </head>

    <body>
        <div id="elem1" class="element">2030</div>
        <div id="elem2" class="element">7</div>
        <div id="elem3" class="element">577</div>
        <div id="elem4" class="element">82</div>
        <div id="elem5" class="element">43</div>
        <div id="elem6" class="element">1222</div>
        <div id="elem7" class="element">600</div>
        <div id="elem8" class="element">37</div>

        <div id="bucket1" class="bucket">
            <img class="img-responsive" src="static/img/bucket.png" />
            <h2>0</h2>
        </div>
        <div id="bucket2" class="bucket">
            <img class="img-responsive" src="static/img/bucket.png" />
            <h2>1</h2>
        </div>
        <div id="bucket3" class="bucket">
            <img class="img-responsive" src="static/img/bucket.png" />
            <h2>2</h2>
        </div>
        <div id="bucket4" class="bucket">
            <img class="img-responsive" src="static/img/bucket.png" />
            <h2>3</h2>
        </div>
        <div id="bucket5" class="bucket">
            <img class="img-responsive" src="static/img/bucket.png" />
            <h2>4</h2>
        </div>
        <div id="bucket6" class="bucket">
            <img class="img-responsive" src="static/img/bucket.png" />
            <h2>5</h2>
        </div>
        <div id="bucket7" class="bucket">
            <img class="img-responsive" src="static/img/bucket.png" />
            <h2>6</h2>
        </div>
        <div id="bucket8" class="bucket">
            <img class="img-responsive" src="static/img/bucket.png" />
            <h2>7</h2>
        </div>
        <div id="bucket9" class="bucket">
            <img class="img-responsive" src="static/img/bucket.png" />
            <h2>8</h2>
        </div>
        <div id="bucket10" class="bucket">
            <img class="img-responsive" src="static/img/bucket.png" />
            <h2>9</h2>
        </div>

        <!-- jQuery -->
        <script src="static/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="static/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="static/js/classie.js"></script>
        <script src="static/js/cbpAnimatedHeader.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="static/js/jqBootstrapValidation.js"></script>
        <script src="static/js/contact_me.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="static/js/agency.js"></script>
        <script src="static/js/animate.js"></script>


    </body>

</html>
